@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.hidden {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 4rem;
}

main{
  margin: 0 auto;
}

form{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form #search{
  border-radius: 100%;
  border-style: none;
  height: 4em;
  width: 4em;
  background-color: green;
}

footer{
  height: 4em;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

footer button {
  border-radius: 50%;
  height: 8em;
  width: 8em;
  position: relative;
  top: -4em;
  background-color: green;
  border-style: none;
  color: white;
}