@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif;
}

main {
  position: relative;
  background-image: url("assets/marmer.jpg");
  margin: 0 auto;
  width: 350px;
  height: 600px;
  margin: 4em auto;
  overflow: auto;
}

section{
  position: relative;
  text-align: center;
  background-image: url("assets/cuttingboard.jpg");
  background-size: contain;
  border-radius: 10px;
  height: 65%;
  width: 80%;
  margin: 1em auto 0 auto;
}

h1 {
  padding-top: 1em;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.hidden{
  display: none;
}

nav{
  height: 5%;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .6em;
}

nav ul li {
  padding: 0 .5em;
}

section ul li {
  display: flex;
  justify-content: center;
  margin-top: .8em;
}

svg {
  height: 1.5em;
  width: 1.5em;
}

section ul {
  margin-top: 2em;
}

/* header h1{
  padding: .5em;
} */

footer{
  text-align: center;
  background-color: black;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 75% 75% 0  0;
}